html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav,
header,
main,
section,
footer {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ol,
p,
ul {
  padding: 0;
  margin: 0;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
:focus {
  outline: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}
input,
select,
textarea {
  -webkit-appearance: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
}
@font-face {
  font-display: swap;
  font-family: "Muller";
  src: url(../fonts/Muller-Bold/MullerBold.woff2) format("woff2"),
    url(../fonts/Muller-Bold/MullerBold.woff) format("woff"),
    url(../fonts/Muller-Bold/MullerBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #3a393a;
  font-size: 16px;
  padding: 0;
  background-color: #efefef;
}
body._lock {
  overflow: hidden;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  color: #3a393a;
}
.header {
  position: relative;
  width: 100%;
  padding: 25px 0 75px;
  z-index: 1;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cta {
  display: flex;
  flex-direction: column;
}
.header__title {
  margin-bottom: 13px;
}
.header__btn {
  width: 300px;
  height: 33px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #ba433b;
  border-radius: 3px;
  transition: background-color 0.3s ease, box-shadow 175ms linear;
}
.header__btn.calc-open {
  width: 320px;
  height: 55px;
  font-size: 20px;
}
.header__btn:hover,
.header__bth:focus {
  background-color: #a33b34;
  box-shadow: 0 0 3px #662621b4;
}

.header__contacts {
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.whatsapp-link:hover {
  transform: scale(1.25); /* Увеличение на 5% */
}

.header__mail {
  width: max-content;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s linear;
}

.header__mail:hover,
.header__mail:focus {
  border-color: #3a393a;
}

.header__phone {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 900;
  text-decoration: none;
}

.header__phone span {
  color: #ba433b;
}

.main {
  margin-top: -160px;
}
.promo {
  position: relative;
  padding: 135px 0 155px;
  transform: rotateZ(-4.8deg);
  overflow: visible;
  color: #fff;
}
.promo__bg {
  content: "";
  position: absolute;
  top: 14.5%;
  left: -5%;
  width: 110%;
  height: 78%;
  opacity: 0.8;
}
.promo__bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0fbf;
  z-index: 1;
}
.promo__bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__container {
  position: relative;
  width: 1170px;
  max-width: 100%;
  padding: 0 20px;
  padding-top: 25px;
  transform: rotateZ(4.8deg);
}
.promo__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.promo__cta {
  flex-grow: 1;
  flex-shrink: 0;
}
.promo__cta:first-child {
  max-width: 440px;
}
.promo__cta:last-child {
  max-width: 300px;
  text-align: right;
}
.promo__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.promo__address {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 12px;
}
.promo__text {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 40px;
}
.promo__img {
  max-width: 450px;
  object-fit: contain;
  transform: scale(1.2);
  flex-grow: 0;
  flex-shrink: 1;
}
.promo__subtitle {
  margin-bottom: 25px;
  font-family: Muller, sans-serif;
  font-size: 44px;
  line-height: 36px;
  font-weight: 700;
  color: #ba433b;
  text-transform: uppercase;
  text-shadow: 0 0 15px #040000;
}
.promo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.promo__list-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;
  list-style: none;
  font-size: 14px;
  line-height: 1.2;
}
.promo__list-img {
  margin-right: 10px;
}
.products {
  padding: 50px 0 10px;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.product__card {
  display: flex;
  flex-direction: column;
  width: 371px;
  max-width: 100%;
  margin-bottom: 35px;
  padding: 30px 20px 33px;
  background-color: #fff;
  border: 1px solid #ba433b;
  transition: all 0.35s ease;
}
.product__card.product__card--image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  padding: 0;
}
.product__card.product__card--image:hover {
  box-shadow: none;
}
.product__card.product__card--image img {
  max-width: 300px;
  object-fit: contain;
}
.product__card:hover {
  box-shadow: 0 10px 20px #c4c4c4;
}
.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 164px;
  position: relative;
}
.product__where {
  position: absolute;
  top: -10px;
  left: 20px;
  text-transform: uppercase;
  color: #ba433b;
  font-weight: 700;
  font-size: 1rem;
}
.product__img > img {
  width: auto;
}
.product__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.product__options {
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
}
.product__options_first {
  justify-content: space-between;
  max-width: 280px;
}
.product__options > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  text-align: center;
}
.product__option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 55px;
  height: 39px;
  background-color: #ba433b;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}
.product__option span {
  font-weight: 600;
  text-transform: lowercase;
  font-size: 12px;
}
.product__fraction-price {
  color: #ba433b;
  font-weight: 700;
}
.product__text {
  flex-grow: 1;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.2;
}
.product__cta {
  display: flex;
  justify-content: space-between;
}
.product__price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 48.5%;
  height: 42px;
  border: 2px solid #ba433b;
  border-radius: 3px;
  font-size: 16px;
  line-height: 38px;
  font-weight: 800;
}
.product__price span {
  margin-left: 7px;
  font-size: 24px;
}
.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48.5%;
  height: 42px;
  background-color: #ba433b;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.3s ease;
}
.product__button:hover,
.product__button:focus {
  background-color: #a33b34;
}
.product__card--last {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 371px;
  max-width: 100%;
  margin-bottom: 35px;
}
.product__address {
  position: relative;
  padding: 11px 9px 0 22px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgb(196, 196, 196) 0 0 5px 1px;
}
.product__address:before,
.product__address:after {
  content: "";
  position: absolute;
}
.product__address:before {
  right: 65px;
  bottom: -104px;
  border-top: 17px solid transparent;
  border-right: 29px solid #c4c4c4;
  border-bottom: 101px solid transparent;
  transform: rotateZ(33deg);
  filter: blur(2px);
}
.product__address:after {
  right: 63px;
  bottom: -97px;
  border-top: 17px solid transparent;
  border-right: 27px solid #fff;
  border-bottom: 97px solid transparent;
  transform: rotateZ(32deg);
}
.address__title {
  margin-bottom: 6px;
  font-size: 28px;
  text-transform: uppercase;
}
.address__text {
  font-size: 13px;
  line-height: 1.55;
  font-weight: 500;
  margin-bottom: 3px;
}
.address__text strong {
  text-decoration: underline;
}
.address__text a {
  text-decoration: none;
}
.address__text a:hover {
  text-decoration: underline;
}
.address__text:last-child {
  margin-bottom: 10px;
}
.product__card--last img {
  z-index: 1;
}





/* Основные стили для контейнеров */
.slider__inner {
  display: flex;
  gap: 20px;
}

.slider__left,
.slider__right {
  flex: 1;
}

/* Стили для видео и изображений */
.slider__video video,
.slider__item img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  background: #f5f5f5;
}











/* Адаптация для мобильных */
@media (max-width: 768px) {
  .slider__inner {
    flex-direction: column;
  }

  .slider__video video,
  .slider__item img {
    aspect-ratio: 16/9; 
  }
}


.slider__inner {
  display: flex;
  gap: 20px;
  position: relative; 
}

.slider__left,
.slider__right {
  flex: 1;
}


.slider__video video,
.slider__item img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  background: #f5f5f5;
}



/* Стили для стрелок  */
.slider__arrow {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  z-index: 10;
}

/* Адаптация для средних экранов (1036px) */
@media (max-width: 1036px) {
  .slider__arrow {
    top: 40%; 


  }
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
  .slider__inner {
    flex-direction: column;
  }

  .slider__video video,
  .slider__item img {
    aspect-ratio: 16/9; 
  }

  .slider__arrow {
    top: 30%; 
  }
}



.slider {
  padding: 88px 0 80px;
}





.slider__title {
  font-family: "Muller";
  font-size: 44px;
  color: red;
  text-transform: uppercase;
  margin-bottom: 85px;
}
.slider__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.slider__left {
  width: 48%;
  max-width: 560px;
}
.slider__video {
  display: flex;
  justify-content: center;
}
.slider__slide {
  flex: 0 0 100%;
}
.slider__iframe {
  width: 100%;
  height: auto;
}
.swiper-container {
  width: 100%;
}
.swiper-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-pagination {
  position: static;
  margin-top: 15px;
}
.swiper-pagination-bullet {
  width: 58px;
  height: 42px;
  margin: 8px;
  border: 4px solid #ba433b;
  border-radius: 2px;
  background-color: transparent;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ba433b;
}
.swiper-right {
  overflow: hidden;
}
.slider__right {
  position: relative;
  width: 50%;
  max-width: 580px;
}
.slider-button-next {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(100%, -50%);
}
@-webkit-keyframes slider-scroll-next {
  0% {
    -webkit-transform: translateY(-50%) translateX(90%) scale(1);
    transform: translateY(-50%) translateX(90%) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.95);
    transform: translateY(-50%) translateX(100%) scale(0.95);
  }
  55% {
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.95);
    transform: translateY(-50%) translateX(100%) scale(0.95);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(90%) scale(1);
    transform: translateY(-50%) translateX(90%) scale(1);
  }
}
@keyframes slider-scroll-next {
  0% {
    -webkit-transform: translateY(-50%) translateX(90%) scale(1);
    transform: translateY(-50%) translateX(90%) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.95);
    transform: translateY(-50%) translateX(100%) scale(0.95);
  }
  55% {
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.95);
    transform: translateY(-50%) translateX(100%) scale(0.95);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(90%) scale(1);
    transform: translateY(-50%) translateX(90%) scale(1);
  }
}
.slider-button-prev {
  display: none;
}
.slider-button-prev,
.slider-button-next {
  width: 48px;
  height: 51px;
  cursor: pointer;
}
.slider-button-prev svg,
.slider-button-next svg {
  width: 100%;
  height: 100%;
}


.slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.slider__item {
  position: relative;
  width: 46%;
  max-width: 264px;
  max-height: 174px;
  margin: 0 10px 23px;
  box-shadow: rgb(196, 196, 196) 0 10px 10px;
  cursor: pointer;
}


.hystmodal__window .slider__item {
  margin: 0;
}
.hystmodal__window .slider__item:before {
  content: none;
}
.slider__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ba433b;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.slider__item:hover:before {
  opacity: 0;
}
.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}
.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: #000;
}
.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}
.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;
  visibility: hidden;
}
.hystmodal--active {
  opacity: 1;
}
.hystmodal--moved,
.hystmodal--active {
  pointer-events: auto;
  visibility: visible;
}
.hystmodal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.hystmodal__window {
  margin: 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  max-width: 100%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0;
  transform: scale(0.9);
  opacity: 0;
}
.hystmodal--active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}
.hystmodal__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#fff' stroke='#fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/><path fill='none' stroke='#fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/></svg>");
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}
.lbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}
.show {
  opacity: 1 !important;
  visibility: visible !important;
}
.lock {
  overflow: hidden;
}
.lbox__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  padding: 50px 30px;
  background-color: #ba433b;
  color: #fff;
  cursor: auto;
}
#consultation .lbox__container {
  width: 500px;
}
.lbox__title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.mail__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.mail__input {
  height: 54px;
  padding: 0 20px;
  border-radius: 6px;
  color: #000;
}
.mail__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 20px;
  font-size: 24px;
  border-radius: 6px;
  background-color: #3a393a;
}
.mail__attention {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;
}
.lbox__link {
  color: #fff;
}
.lbox__link:hover {
  text-decoration: none;
}
.lbox__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.lbox__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}
.variants {
  margin: 20px 0;
}
.variants .container {
  display: flex;
}

.variants {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.variants__block {
  flex: 1 1 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 15px 60px 30px;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.variants__block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: all 0.4s ease;
}

.variants__block:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.variants__block:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.variants__block h2 {
  margin-bottom: 30px;
  font-family: "Muller", "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all 0.4s ease;
}

.variants__block:hover h2 {
  transform: translateY(-5px);
}

.variants__block ul {
  opacity: 0.9;
  transition: all 0.4s ease;
}

.variants__block:hover ul {
  opacity: 1;
}

.variants__block ul li {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  list-style: none;
  color: #fff;
  transition: all 0.3s ease;
}

.variants__block ul li:hover {
  transform: translateX(5px);
}

.variants__block ul li::before {
  content: "";
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  align-self: flex-start;
  transform: translateY(5px);
  background-color: #ba433b;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.variants__block ul li:hover::before {
  transform: translateY(5px) scale(1.2);
  background-color: #ff5252;
}

.variants__block ul li:not(:last-child) {
  margin-bottom: 40px;
}

/*Самосвалы*/

.delivery-section {
  padding: 60px 20px;
  font-family: "Arial", sans-serif;
  color: #fff; /* изменили цвет текста на белый */
  position: relative;
  background-image: url("img/background-image.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
  margin-top: 50px;
}

.delivery-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* затемнение 50% */
  z-index: 0;
}

.delivery-section > * {
  position: relative;
  z-index: 1;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #ff1100;
}

.section-header p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.feature-item {
  text-align: center;
  padding: 25px 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  background-color: #f0f8ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img {
  width: 40px;
  height: 40px;
}

.feature-item h3 {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

.benefits-list {
  max-width: 800px;
  margin: 0 auto 40px;
}

.benefits-list ul {
  columns: 2;
  column-gap: 40px;
  padding-left: 20px;
}

.benefits-list li {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  break-inside: avoid;
}

.cta-button {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 15px 20px;
  background-color: #ba433b;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
}

.cta-button:hover {
  background-color: #ba433bb0;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .benefits-list ul {
    columns: 1;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }
}

/*Документы*/
.documents,
.tenders {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  max-width: 1200px;
}

.documents__header,
.tenders__header {
  text-align: left;
  max-width: 600px;
  font-size: 34px;
}

.documents__header h2 {
  color: red;
  text-transform: uppercase;
}

.tenders__header h2 {
  color: red;
  text-transform: uppercase;
}

.documents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.document-item {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.document-item:hover {
  transform: translateY(-5px);
}

.download-btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: #ba433b;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background-color: #ba433b59;
}

/* Стили для тендеров */
.tenders-list {
  list-style: none;
  padding-left: 0;
}

.tenders-list li {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tenders-list a {
  color: #3498db;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.tenders-list a:hover {
  text-decoration: underline;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  .documents,
  .tenders {
    margin: 0 50px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .documents,
  .tenders {
    margin: 0 30px;
    margin-bottom: 30px;
    padding: 15px;
  }

  .documents-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .documents,
  .tenders {
    margin: 0 15px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .documents-grid {
    grid-template-columns: 1fr;
  }

  .documents__header,
  .tenders__header {
    max-width: 100%;
  }

  .document-item {
    padding: 15px 10px;
  }

  .download-btn {
    width: 100%;
    text-align: center;
  }
}

/*Подвал*/

footer {
  background-color: #ba433b;
  padding: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 300px;
}

.footer-section i {
  margin: 0 5px;
}

.footer-section h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-section h4 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 5px;
}

.footer-section p,
.footer-section a {
  margin: 8px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.4;
  font-size: 16px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.highlight-text {
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
}

.contacts {
  margin: 30px 0;
}

.social-buttons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.social-button {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  transition: all 0.3s ease;
}

.social-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.social-button.vk {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #ffffff;
}

.social-button.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #ffffff;
}

.callback-btn {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 100%;
  max-width: 300px;
}

.callback-btn:hover {
  background-color: #f09a97af;
}

.address {
  margin-bottom: 20px;
}

.map-wrapper {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-section {
    min-width: 100%;
  }

  .footer-section h3 {
    font-size: 24px;
  }

  .footer-section h4 {
    font-size: 18px;
  }

  .highlight-text {
    font-size: 20px;
  }

  .callback-btn {
    max-width: 100%;
  }

  .contacts {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 20px 15px;
  }

  .footer-section h3 {
    font-size: 22px;
  }

  .footer-section p,
  .footer-section a {
    font-size: 14px;
  }

  .social-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .callback-btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}

/* Адаптация для планшетов */
@media (max-width: 992px) {
  .lined-text {
    margin: 20px 100px;
  }
}

/* Адаптация для средних устройств */
@media (max-width: 768px) {
  .footer-header h2 {
    font-size: 24px;
  }

  .lined-text {
    font-size: 14px;
    margin: 20px 50px;
  }

  .lined-text::before,
  .lined-text::after {
    width: calc(50% - 80px);
  }

  .contact-item {
    min-width: 150px;
  }

  .footer-links {
    gap: 10px;
  }

  .footer-links a {
    font-size: 14px;
  }
}

/* Адаптация для мобильных */
@media (max-width: 576px) {
  .footer-header h2 {
    font-size: 20px;
  }

  .lined-text {
    font-size: 12px;
    padding: 0 10px;
    margin: 20px 0;
  }

  .lined-text span {
    padding: 0 10px;
  }

  /* Прячем линии на мобильных */
  .lined-text::before,
  .lined-text::after {
    display: none;
  }

  .contact-item {
    min-width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 8px;
  }

  .footer-links a {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .slider-button-next {
    animation: slider-scroll-next 1.7s infinite ease;
  }
}
@media (max-width: 1350px) {
  .slider-button-next {
    top: 110%;
    right: 43%;
  }
  .slider-button-prev {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%) rotate(180deg);
    top: 110%;
    right: 50%;
  }
  .promo__img {
    transform: scale(1.05);
  }
  .promo__cta:first-child {
    max-width: 400px;
  }
  .promo__title {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .promo__text {
    font-size: 30px;
    margin-top: 30px;
  }
  .promo__cta:last-child {
    flex-shrink: 1;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    width: 360px;
  }
  .header__phone {
    margin-right: 0;
    font-size: 24px;
  }
  .main {
    margin-top: -155px;
  }
  .mail__button {
    font-size: 18px;
  }
  .promo__img {
    transform: scale(1);
    max-width: 400px;
    margin-right: 20px;
  }
}
@media (max-width: 1140px) {
  .header__logo {
    width: 300px;
  }
  .header__phone {
    margin-right: 0;
    font-size: 22px;
  }
  .promo {
    padding: 135px 0 90px;
  }
  .promo__text {
    font-size: 34px;
  }
  .promo__img {
    margin-right: -60px;
  }
  .promo__subtitle {
    font-size: 40px;
  }
  .promo__list {
    justify-content: flex-start;
    width: 750px;
  }
  .promo__list-item {
    width: 225px;
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: left;
  }
  .products {
    padding: 40px 0 10px;
  }
  .products__list {
    justify-content: space-around;
  }
  .slider__item {
    width: 45%;
  }
  .hystmodal__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#fff' stroke='#111' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/><path fill='none' stroke='#111' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/></svg>");
  }
  .variants__block ul li {
    font-size: 22px;
  }
  .variants__block ul li:not(:last-child) {
    margin-bottom: 30px;
  }
  .promo__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .promo__text {
    font-size: 28px;
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .header__logo {
    width: 207px;
  }
  .header__cta {
    width: 300px;
  }
  .header__btn {
    width: 230px;
    font-size: 14px;
  }
  .header__phone {
    font-size: 20px;
  }
  .promo__content {
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .promo__cta:last-child {
    flex: 1 1 auto;
    text-align: left;
    width: 100%;
    margin-top: 30px;
  }
  .promo__img {
    transform: scale(1.2) translateY(20%);
    margin-right: 0;
  }
  .promo__subtitle {
    font-size: 36px;
  }
  .product__title {
    font-size: 22px;
  }
  .product__price span {
    font-size: 22px;
  }
  .product__button {
    font-size: 20px;
  }
  .address__title {
    font-size: 24px;
  }
  .slider__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .variants__block h2 {
    font-size: 36px;
  }
  .variants__block ul li {
    font-size: 20px;
  }
  .variants__block ul li::before {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
  }
  .slider__inner {
    flex-direction: column;
    align-items: center;
  }
  .slider__left {
    width: 100%;
    max-width: 500px;
    margin-bottom: 45px;
  }
  .slider__right {
    width: 100%;
    max-width: 500px;
  }
  .lbox__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 860px) {
  .promo__img {
    display: none;
  }
  .promo__content {
    flex-wrap: nowrap;
  }
  .promo__cta:last-child {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .header {
    padding: 15px 0 50px;
  }
  .header__inner {
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .header__contacts {
    margin-top: 10px;
    align-items: center;
    gap: 10px;
  }
  .header__mail {
    font-size: 18px;
  }
  .header__cta {
    align-items: center;
    width: auto;
    margin-bottom: 15px;
  }
  .header__title {
    margin-bottom: 10px;
  }
  .header__phone {
    top: 0;
  }
  .main {
    margin-top: -145px;
  }
  .promo {
    padding: 185px 0 60px;
  }
  .promo__bg {
    left: -10%;
    width: 117%;
    top: 18%;
    height: 77%;
  }
  .promo__content {
    margin-bottom: 35px;
    flex-direction: column;
  }
  .promo__cta:last-child {
    margin-left: 0;
  }
  .promo__title {
    margin-bottom: 10px;
  }
  .promo__address {
    font-size: 16px;
  }
  .promo__text {
    font-size: 24px;
  }
  .promo__subtitle {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  .promo__img {
    width: 43vw;
    margin-right: -30px;
  }
  .promo__list-img {
    width: 36px;
  }
  .product__card {
    min-height: auto;
    margin-bottom: 25px;
    padding: 25px 20px;
  }
  .product__title {
    font-size: 20px;
  }
  .product__options {
    margin-bottom: 20px;
    gap: 10px;
  }
  .product__option {
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
  }
  .product__text {
    margin-bottom: 20px;
  }
  .product__price span {
    font-size: 20px;
  }
  .product__button {
    font-size: 18px;
  }
  .product__address {
    margin-bottom: 20px;
    padding: 20px 9px 10px 22px;
  }
  .address__title {
    font-size: 22px;
  }
  .slider__item {
    max-height: 125px;
  }
  .slider__title {
    margin-bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 3px;
  }
  .slider-button-prev,
  .slider-button-next {
    width: 38px;
    height: 40px;
  }
  .lbox__container {
    padding: 50px 20px 40px;
  }
  .lbox__title {
    font-size: 20px;
  }
  .mail__form {
    justify-content: space-around;
  }
  .mail__input {
    width: 45%;
    height: 40px;
    margin-bottom: 20px;
  }
  .mail__button {
    margin-top: 15px;
  }
  .lbox br {
    display: none;
  }
  .variants__block ul li {
    font-size: 18px;
  }
  .variants__block h2 {
    font-size: 30px;
  }
}
@media (max-width: 639.98px) {
  .variants .container {
    flex-direction: column;
  }
  .variants {
    margin-bottom: 0;
  }
}
@media (max-width: 479px) {
  .promo__bg {
    top: 14.5%;
    height: 82%;
  }
  .promo__cta {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .promo__cta:last-child,
  .promo__cta:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .promo__list-item {
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
    margin-right: 0;
  }
  .promo__list-img {
    width: 30px;
  }
  .promo__list-item br {
    display: none;
  }
  .slider__title {
    text-align: center;
    font-size: 32px;
  }
  .promo__img {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    order: 3;
    width: 60%;
    margin-bottom: 50px;
  }
  .slider__item {
    height: 26vw;
    margin: 0 2vw 5vw;
  }
  .slider-button-prev,
  .slider-button-next {
    width: 8vw;
    height: 8vw;
  }
  .mail__input {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 379.98px) {
  .variants__block ul li {
    font-size: 16px;
  }
  .variants__block ul li::before {
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    transform: translateY(3px);
  }
  .variants__block ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .variants__block h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .header__btn.calc-open {
    width: 273px;
    height: 45px;
    font-size: 16px;
  }
}
